/*
	Developer: Donte' Trumble
	Blue
	color: #125e8a;
	Grey
	color: #616161;
*/
.clear{
	clear:both;	
}
img{
	outline: none;	
	border: none;	
}
*{
	margin: 0;
	padding: 0;	
	outline: none;	
	border: none;
	text-decoration: none;
}
#meatwrapper{
	font-family:Arial, 'Helvetica Neue', sans-serif;
	font-size: 62.5%;
	width: 700px;
	margin: 0 auto;
}
#wrapper{
	border-top: 15px solid #125e8a;
	font-family:Arial, 'Helvetica Neue', sans-serif;
	position:relative;
	font-size: 62.5%;
}
#meatwrapper>section{
	overflow: hidden;	
}
#meatwrapper>section>a>article>h1{
	font-size: 2em;	
	color: #fff;
	padding: 6px 0 6px 6px;
	background: #125e8a;
}
#meatwrapper>section>article>h1{
	font-size: 2em;	
	color: #fff;
	padding: 6px 0 6px 6px;
	background: #125e8a;
}
#meatwrapper>section>a>article>p{
	font-size: 1.4em;	
	color: #fff;
	padding: 0 0 5px 6px;
	background: #125e8a;
}
#meatwrapper>section>article>p{
	font-size: 1.4em;	
	color: #fff;
	padding: 0 0 5px 6px;
	background: #125e8a;
}
#meatwrapper>section>article{
	width: 228px;
	height: 228px;
	float: left;
	margin: 5px 8px 20px 0;	
}
#meatwrapper>section>a>article:hover{
	opacity: .9;
}
#meatwrapper>section>article:hover{
	opacity: .9;
}
#meatwrapper>section>a>article{
	width: 228px;
	height: 228px;
	float: left;
	margin: 5px 8px 20px 0;
}
#meatwrapper>section>.nomargin{
	margin-right: 0;
}
#meatwrapper>section>a>.nomargin{
	margin-right: 0;
}
/*------------------------------------------------------------------Header-----------------------------------------------------------------------*/
.border{
	border-top: 15px solid #125e8a;
}	
section>h2{
	font-size: 6em;	
	color: #125e8a;
	padding: 10px 0 10px 0;
	background: #e9f0f7;
	text-align: center;
}
section>img{
	width: 40%;	
	margin: 10% 0 40px 30%;
/*	animation-iteration-count: 10;
	-webkit-animation-name:myfirst;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-o-animation-name:myfirst;
	-o-animation-duration: 2s;
	-moz-animation-name:myfirst;
	-moz-animation-duration: 2s;*/
	clear: both;
}
/*@keyframes myfirst{
	from{
		opacity: 0;
		-webkit-transition: opacity;
	}
	to{
		opacity: 1;	
	}
}
@-moz-keyframes myfirst{
	from{
		opacity: 0;
		-webkit-transition: opacity;
	}
	to{
		opacity: 1;	
	}
}

@-webkit-keyframes myfirst{
	from{
		opacity: 0;
		-webkit-transition: opacity;
	}
	to{
		opacity: 1;	
	}
}

@-o-keyframes myfirst{
	from{
		opacity: 0;
		-webkit-transition: opacity;
	}
	to{
		opacity: 1;	
	}
}*/
section>p{
	font-size: 1.4em;
	width: 440px;
	float: left;	
	margin: 50px 0 0 100px;
	line-height: 1.6em;
}
section .first{
	text-align: center;
	font-size: 3em;	
	width: 80%;
	clear: both;
	margin: 20px 0 0 10%;
}
section .number{
	font-size: 4em;	
	font-weight: bold;
	width: 50%;
	margin: 20px 0 0 45%;
}
section .second{
	margin-left: 230px;	
}